<h1><%= @flashcard.content %></h1>
<% if @flashcard.image.present? %>
  <%= image_tag @flashcard.image, class: 'flashcard-image' %>
<% end %>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    var msg = new SpeechSynthesisUtterance('<%= @flashcard.content %>');
    msg.lang = 'ja-JP'; // 日本語の言語コードを設定
    window.speechSynthesis.speak(msg);

    // カードの自動切り替えを再度有効にする
    setTimeout(function() {
      var nextFlashcard = <%= @next_flashcard.to_json.html_safe %>;

      if (nextFlashcard && nextFlashcard.id) {
        var nextUrl = '<%= category_flashcard_path(@flashcard.category, ":id") %>'.replace(":id", nextFlashcard.id);
        window.location.href = nextUrl;
      } else {
        var categoryUrl = '<%= category_path(@flashcard.category) %>';
        window.location.href = categoryUrl; // 確認画面に遷移
      }
    }, 1000); // 1秒ごとに次のカードに切り替え
  });
</script>

